<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<body>
	<a class="btn btn-primary btn-sm" th:href="@{/articles/write}" role="button">写博客</a>
	<table class="table">
            <tr class="info">
                <td>编号</td>
                <td>标题</td>
                <td>摘要</td>
                <td>发表时间</td>
                <td style="text-align: center" colspan="2">操作</td>
            </tr>
                <tr th:each="articles:${articles}">
                    <td th:text="${articles.id}"></td>
                    <td th:text="${articles.title}"></td>
                    <td th:text="${articles.summary}"></td>
                    <td th:text="${articles.date}"></td>
                    <td><a th:href="@{'/admin/update/'+${articles.id}}">修改</a></td>
                    <td><a th:href="@{'/admin/delete/'+${articles.id}}" onclick="return check();">删除</a></td>
                </tr>
        </table>
</body>
</html>