<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>首页</title>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
<link th:href="@{/css/base.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/m.css}" rel="stylesheet" />
<style type="text/css">
	a:hover{
text-decoration:none;
}
</style>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				博客列表
				<div th:switch="${loginon}" style="float: right;">
					<p th:case="on">
						<a th:href="@{/user/edit}" style="color: black">个人博客</a> 
						<a th:href="@{/logoff}" style="color: black">注销</a>
					</p>
					<p th:case="off">
						<a th:href="@{/login}" style="color: black">登录</a> 
						<a th:href="@{/register}" style="color: black">注册</a>
					</p>
				</div>
			</div>

			<div class="panel-body">
				
			</div>


			<div class="blogs">
			    <li th:each="articles:${articles}"> 
			    <span class="blogpic"><a href="/"><img th:src="${articles.photo}"></a></span>
			      <h3 class="blogtitle">
			      	<a th:href="@{'/articles/view/'+${articles.id}}" th:text="${articles.title}"></a>
			      	</h3>
			      <div class="bloginfo">
			        <p th:text="${articles.content}"></p>
			      </div>
			      <div class="autor">
			      <span class="dtime" th:text="${articles.time}"></span>
			      <span class="viewnum">浏览（<a th:href="@{'/articles/view/'+${articles.id}}" th:text="${articles.readSize}"></a>）</span>
			      <span class="readmore"><a th:href="@{'/articles/view/'+${articles.id}}">阅读原文</a></span></div>
			    </li>
 			</div>
			<div th:object=${page}>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li><a href="?start=0">首 页</a></li>
						<li><a th:href="@{'/articles/index?start='+${page.number-1}}"
							th:if="${page.number}>0" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<li th:each="i:${#numbers.sequence(0, page.TotalPages-1)}" th:if="${page.TotalPages}>0"><a
							th:href="@{'/articles/index?start='+${i}}" th:text="${i+1}"></a>
						</li>
						<li><a th:href="@{'/articles/index?start='+${page.number+1}}"
							th:if="${page.number}<${page.TotalPages-1}" aria-label="Next"><span
								aria-hidden="true">&raquo;</span></a></li>
						<li><a
							th:href="@{'/articles/index?start='+${page.TotalPages-1}}">末页</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>